# Airtable
AIRTABLE_API_KEY=your_airtable_api_key_here
AIRTABLE_BASE_ID=appuc10jvpTh3bvLF

# Airtable Table IDs
AIRTABLE_TABLE_BUSINESS_NODES=tblposjNrrBMi0Sr2
AIRTABLE_TABLE_QUESTS=tblOahxb9wiMtwRlv
AIRTABLE_TABLE_MAP_TILES=tblOBLL7POfy5ii1P

# Mapbox
MAPBOX_TOKEN=your_mapbox_token_here

# Server
PORT=3000
