*.tiff
*.tif
*.xml
*.geotiff
*.shp
*.gpkg
*.qgz
*.csv
*.geojson
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shx
*.zip
*.xlsx
*.qmd
*.gfs
*.lyrx
*.7z
*.pdf
*.lock

BaseNotebooks/__pycache__
*/.ipynb_checkpoints
!.gitignore
**/.ipynb_checkpoints/
